- provide(:title, "About")

%h1 About
%p
  The
  %a{href:"https://www.railstutorial.org/"}
  %em Ruby on Rails Tutorial
  part of the
  %a{href:"https://www.learnenough.com/"}Learn Enough
  family of a tutorial, is a
  %a{href:"https://www.railstutorial.org/book"}book
  and
  %a{href:"https://www.screencasts.railstutorial.org/"}screencast series
  to tech web development with
  %a{href:"https://rubyonrails.org/"}Ruby on Rails
  This is the sample app for the tutorial