%footer.footer
  %small
    The
    %a{href:"https://www.railstutorial.org/"}Ruby on Rails Tutorial
    by
    %a{href:"https://www.michelheartl.com"}Michael Hertl
    %nav
      %ul
        %li= link_to "About", about_path
        %li= link_to "Contact", contact_path
        %li
          %a{href:"https//news.railstutorial.org"}News
